#!/bin/bash

# --------------------------------------------------------
# Create settings.cfg and updated your settings
# --------------------------------------------------------

workdir=/scripts
emailaddress="mymail@mail.com"
