#!/bin/bash

# --------------------------------------------------------
# Create settings.cfg and updated your settings
# --------------------------------------------------------

emailaddress="mymail@mail.com"
